body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.branch {
  fill: green;
}

.ball-gold {
  fill: goldenrod;
}

.ball-green {
  fill: darkgreen;
}

.ball-red {
  fill: red;
}

.crocodile {
  fill: goldenrod;
}

.tooth {
  fill: white;
}

.eye-outer {
  fill: white;
}

.eye-inner {
  fill: black;
}
