:root {
  --background: #FEFDF9
  --near-black: #010017
  --primary #D05A5A
  --secondary: #D1AA71
  --text: #020210
  --text-light: #B8B6B7
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
