body {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
  width: 100vw;
}

.card-grid {
  background-color: rgb(172, 71, 75);
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  padding: 50px 130px;
}

.card-grid__box {
  background-color: white;
  height: 60px;
  width: 60px;
}

.card-grid__top {
  display: flex;
  grid-column: 1/-1;
  justify-content: center;
}

.rosette__part {
  border: 12px solid white;
  padding: 10px;
  border-radius: 20px;
}

.rosette__part-left {
  transform: translateX(5px);
  border-radius: 50% 50% 0 50%;
}

.rosette__part-right {
  transform: translateX(-5px);
  border-radius: 50% 50% 50% 0;
}
