<!doctype html>
<html>
  <head>
    <title>Kemal Chat</title>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
    <script>
      $(document).ready(function() {
        fetch("http://" + location.host + "/history")
          .then(response => response.json())
          .then(items => addHistory(items));
        // TODO: Use web sockets instead!

        const addHistory = (items) => {
          items.forEach((item) => {
            $('#chat').append(item + "\n")
          })
        }

        fetch("http://" + location.host + "/create-room", {
          method: 'post',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            name: 'Room A'
          })
        })

        // Open WebSocket connection
        var ws = new WebSocket("ws://" + location.host + "/chat");
        // Append each message
        ws.onmessage = function(e) { $('#chat').append(e.data + "\n") };

        $("form").bind('submit', function(e) {
          var message = $('#msg').val();
          ws.send(message);
          $('#msg').val(''); $('#msg').focus();
          e.preventDefault();
        });
      });
    </script>
  </head>
  <body>
    <pre id='chat'></pre>
    <form>
      <input id='msg' placeholder='message...' />
      <input type="submit" value="Send">
    </form>
  </body>
</html>
