:root {
  --primary: #2b3252;
  --secondary: darkturquoise;
  --accent: #ef5455;
  --white: #eee;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: 'Righteous', cursive;
}

.title {
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
}

.main-navigation {
  background-color: var(--secondary);
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1rem;
  overflow: hidden;
  box-shadow: 0 0 0 transparent;
  transition: all 200ms ease-out;
  z-index: 1;
}

.main-navigation--is-active {
  height: 50vh;
  box-shadow: 0 0 50px #555;
}

.main-navigation__mobile-menu-toggle {
  text-align: right;
}

.main-navigation__mobile-menu-hamburger {
  display: inline-block;
  width: 1rem;
}

.main-navigation__mobile-menu-close {
  display: none;
  width: 1rem;
}

.main-navigation--is-active .main-navigation__mobile-menu-hamburger {
  display: none;
}

.main-navigation--is-active .main-navigation__mobile-menu-close {
  display: inline-block;
}

.main-navigation__links {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

.main-navigation__link {
  padding: 0.5rem 0;
}

.main-navigation__link:hover {
  background-color: var(--white);
}

.content {
  max-width: 960px;
  margin: 0 auto;
  padding: 3rem 1rem 2rem;
}

.image-with-caption {
  margin: 0;
  position: relative;
}

.image-with-caption__image {
  width: 100%;
}

.image-with-caption__caption {
  font-size: 0.75rem;
  font-style: italic;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.5rem 1rem;
  color: #fff;
}

@media (min-width: 768px) {
  .main-navigation {
    height: auto;
    transition: none;
  }

  .main-navigation__mobile-menu-toggle {
    display: none;
  }

  .main-navigation__links {
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 960px;
  }

  .content {
    padding: 4rem 1rem 2rem;
  }

  .image-with-caption {
    width: 50%;
    float: left;
    margin: 1rem 2rem 1rem 0;
  }
}

@media (min-width: 960px) {
  .main-navigation {
    position: static;
  }

  .main-navigation__link {
    padding: 0.5rem 1rem;
  }

  .content {
    padding: 1rem 0 2rem 0;
  }

  .footer {
    clear: both;
  }
}
