<html>
  <head>
    <title>HTMX ToDo</title>
    <link
      href="https://unpkg.com/bonsai.css@latest/dist/bonsai.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/main.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <script
      src="https://unpkg.com/htmx.org@1.9.5"
      integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <main>
      <div class="header">
        <img class="logo" src="/survey.png" />
        <h1>HTMX ToDo</h1>
      </div>

      <h2>TODOs</h2>
      <ul class="todo-list">
        <%- include('todos', {todos: todos}); %>
      </ul>
      
      <h4>Add a TODO</h2>
      <form
        hx-post="/todos"
        hx-trigger="submit"
        hx-target=".todo-list"
        hx-swap="innerHTML"
        hx-on::after-request="this.querySelector('[name=task]').value = ''"
        class="todo-list__form"
      >
        <label for="todo-name">Task</label>
        <input type="text" autofocus required name="task" id="todo-task" />
        <button type="submit">Add</button>
      </form>
    </main>
  </body>
</html>
