@import url('https://fonts.googleapis.com/css?family=Montserrat:300&display=swap');

/**
 * Here we define our CSS custom properties. 
 * Also we declare the standards for our oma-components here, apart from their inherited style. Is that something that we should take in mind?
 * We want to declare values for fonts, font-sizes, line-height, z-index,
 * primary & secondary-colors, and whatever you can think of
 */

:root {
  --color__primary: maroon;
  --color__secondary: yellow;
  --color__background: white; // default background on page
  --color__text-on-background: darkslategrey;
  --color__text-on-background--light: ivory;
  --color__text-on-primary: ivory;

  --text-font__family: 'Montserrat';
  --text-font__size: 16px;
  --text-font__line-height: 1, 5;

  --space: 1rem;
  --space--small: 0.8rem;
  --space--large: 3rem;
  --space__side-margin: var(--oma-page__space--small);

  --z-index-for-menu: 100; // How to do this in a BEM manor?. z-index is a bad block name...
}

/**
 * RESETS
 */

p {
  margin: 0;
  padding: 0;
}

/**
 * CLASSES
 */

// Just to reset ugly styles from browsers
.button {
  background: none;
  border: none;
  cursor: pointer;
}

.header {
  color: var(--page__font-color);
  font-family: var(--page__font);
  font-size: var(--page__font-size);
  line-height: var(--page__line-height);
  padding-left: var(--page__side-margin);
  padding-right: var(--page__side-margin);

  .size-1200 & {
    // NOTE: oma-component
    margin-left: auto;
    margin-right: auto;
    width: var(--oma-grid__width);
  }

  .size-1200 & {
    //other styles...
  }
}

.header__heading {
  color: var(--page__color);
  font-size: 4rem;
}

.main__section {
  color: var(--page__font-color);
  font-family: var(--page__font);
  font-size: var(--page__font-size);
  line-height: var(--page__line-height);
  margin-top: var(--oma-page__space--large);

  //@extend .page-margin;
  padding-left: var(--page__side-margin);
  padding-right: var(--page__side-margin);
}

.main__section--full-width {
  margin-left: 0;
  margin-right: 0;
  padding-bottom: var(--oma-page__space--medium);
  padding-left: var(--page__side-margin);
  padding-right: var(--page__side-margin);
  padding-top: var(--oma-page__space--medium);
}

.main__heading {
  color: var(--page__font-color);
  font-size: 2rem;
  font-family: 'Roboto';
}

.main__heading--large {
  color: var(--page__color);
  font-size: 3rem;
}

.main__heading--small {
  color: var(--page__font-color--light);
  font-size: 1.5rem;
}

.footer {
  color: var(--page__font-color--light);
  font-family: var(--page__font);
  font-size: var(--page__font-size);
  line-height: var(--page__line-height);
  padding-left: var(--page__side-margin);
  padding-right: var(--page__side-margin);
}

.footer__link {
  // If we do not use a CSS reset, we will need to set color of for instance
  // links. It will not be enough to style in parent since browsers includes
  // default colors to links.
  color: var(--page__font-color--light);
}

.heimr-menu {
  display: none;

  .size-1200 & {
    display: block;
  }
}

.heimr-menu__item {
  display: block;

  .size-1200 & {
    display: inline-block;
    padding: var(--oma-page__space--extra-small);

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}

.heimr-menu--open {
  display: inline-block;
}

.heimr-hamburger-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  line-height: 0.5;
  outline: none;
  padding: 0;

  .size-1200 & {
    display: none;
  }
}

.heimr-hamburger-button--open {
  font-size: 2.4rem;
  line-height: 0.8;
}

.row--themed {
  background: var(--page__color);
}

/**
 * RELATED TO MEDIA QUERIES
 *
 * Keep last in stylesheet
 **/

.size-900 {
  --page__side-margin: var(--oma-page__space--medium);
}

.size-1200 {
  --page__side-margin: 0;
}
